*{
	margin:0;
	padding:0;
	font-family: Avenir-Book, 'PingFang SC', 'Microsoft YaHei', sans-serif;
	color:white;
	text-align:justify;
	text-justify:inter-ideograph;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

@font-face {
	font-family: Baron-Neue;
	src: url('../fonts/Baron Neue.otf');
}
@font-face {
	font-family: Avenir-Book;
	src: url('../fonts/Avenir-Book.otf');
}
html{
	/*height: 100%;
	min-height: 100%;*/
}
body{
	/*height: 100%;
	background: url(../img/workBanImg.png) no-repeat;
	background-size: cover;*/
	/*overflow-y: hidden;*/
	/*position: relative;*/
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

/*.fireworks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #18212D;
    z-index: 4;
}*/

.imgBac{
	width: 100%;
	height: 100%;
	background: url(../img/imgWorkPH@2x.jpg) no-repeat;
	background-size: cover;
	opacity: 1;
	position: fixed;
	z-index: 0;
	left: 0;
	top: 0;
}
.blackBac{
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(-180deg, #424242 0%, #424242 11%, #000000 100%);
	background: -o-linear-gradient(-180deg, #424242 0%, #424242 11%, #000000 100%);
	background: -moz-linear-gradient(-180deg, #424242 0%, #424242 11%, #000000 100%);
	background: linear-gradient(-180deg, #424242 0%, #424242 11%, #000000 100%);
	opacity: 1;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	transition:all 2s ease-out 0s;
	-moz-transition:all 2s ease-out 0s;
	-webkit-transition:all 2s ease-out 0s;
	-o-transition:all 2s ease-out 0s;
}
.contactCon{
	width: 600px;
	height: 130px;
	/*background-color: red;*/
	position: fixed;
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	display: none;
}
.contactTitle{
	height: 34px;
	font-family: Baron-Neue;
	font-size: 28px;
	color: #FFFFFF;
	text-align: center;
	line-height: 34px;
}
.contactDesc{
	height: 56px;
	margin-top: 40px;
	font-family: Avenir-book, 'Microsoft YaHei','PingFang SC', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	opacity: 0.5;
	text-align: center;
	line-height: 28px;
}
.contentCon{
	width: 1280px;
	height: 100%;
	position: absolute;
	z-index: 3;
	left: 50%;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	top: 0;
}
.loading{
	width: 64px;
	height: 64px;
	background: url(../img/loading.png) no-repeat;
	background-size: cover;
	position: fixed;
	left: 50%;
	top: 50%;
	transform:translateX(-50%) translateY(-50%);
	-webkit-transform:translateX(-50%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-o-transform:translateX(-50%) translateY(-50%);
	transition:all 0.5s ease-out 0s;
	-moz-transition:all 0.5s ease-out 0s;
	-webkit-transition:all 0.5s ease-out 0s;
	-o-transition:all 0.5s ease-out 0s;
}
.chill{
	width: 1024px;
	height: 118px;
	font-family: Baron-Neue; Lobster Two; 
	/*font-style:italic;*/
	line-height: 118px;
	font-size: 98px;
	letter-spacing: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	position: fixed;
	left: 50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	top:140px;/*正常120px*/
	opacity: 0;/*正常0.4*/
	transition:all 0.7s ease-out 0s;
	-moz-transition:all 0.7s ease-out 0s;
	-webkit-transition:all 0.7s ease-out 0s;
	-o-transition:all 0.7s ease-out 0s;
	text-align: center;
}
.nav{
	width: 94px;
	height: 302px;
	/*background-color: green;*/
	position: fixed;
	left: 0;
	top:311px;/*正常291px*/
	opacity: 0;
	transition:all 0.5s ease-out 0s;
	-moz-transition:all 0.5s ease-out 0s;
	-webkit-transition:all 0.5s ease-out 0s;
	-o-transition:all 0.5s ease-out 0s;
}
.navTag{
	width: 94px;
	height: 22px;
	/*background-color: gray;*/
	margin-top: 48px;
	padding-left: 64px;
	position: relative;
}
.navTag:first-child{
	margin-top: 0;
}
.leftLine{
	width: 32px;
	height: 1px;
	background-color: white;
	position: absolute;
	left: 16px;
	top: 11px;
	display: none;
}
.opacity1{
	display: block;
}
.navTagWordCon{
	height: 22px;
	/*background-color: black;*/
}
.firstWord{
	width: 16px;
	height: 22px;
	line-height: 22px;
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	opacity: 0.3;
	float: left;
}
.secondWord{
	left: 3px;
	width: 12px;
	height: 22px;
	line-height: 22px;
	font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	opacity: 0.2;
	float: left;
	position: relative;
	top: 2px;
}
.firstWord.active{
	opacity: 0.8;
}
.secondWord.active{
	opacity: 0.6;
}
.introCon{
	width: 1024px;
	height: 80%;
	background: -webkit-linear-gradient(-45deg, #C6B6FF 0%, #569DFF 100%);
	background: -o-linear-gradient(-45deg, #C6B6FF 0%, #569DFF 100%);
	background: -moz-linear-gradient(-45deg, #C6B6FF 0%, #569DFF 100%);
	background: linear-gradient(-45deg, #C6B6FF 0%, #569DFF 100%);
	box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.15);
	position: fixed;
	z-index: 2;
	left: 128px;
	top: 100%;/*正常291px*/
	padding: 64px 40px 0 40px;
	transition:all 0.5s ease-out 0s;
	-moz-transition:all 0.5s ease-out 0s;
	-webkit-transition:all 0.5s ease-out 0s;
	-o-transition:all 0.5s ease-out 0s;
}
.wordCon{
	opacity: 0;
	transition:all 0.5s ease-out 0s;
	-moz-transition:all 0.5s ease-out 0s;
	-webkit-transition:all 0.5s ease-out 0s;
	-o-transition:all 0.5s ease-out 0s;
}

.intro{
	width: 100%;
	position: absolute;
	left: 40px;
	top: 60px;
	/*transition:all 0.5s ease-out 0s;
	-moz-transition:all 0.5s ease-out 0s;
	-webkit-transition:all 0.5s ease-out 0s;
	-o-transition:all 0.5s ease-out 0s;*/
}
.introWord{
	font-family: Avenir, 'PingFang SC', 'Microsoft YaHei', sans-serif;
	height: 56px;
	line-height: 56px;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 4px;
}
.intro .introWord{
	font-family: Montserrat;
	font-weight: Bold;
	height: 22px;
	line-height: 22px;
	font-size: 22px;
	letter-spacing: 0.1px;
}
.introWordEng{
	line-height: 40px;
	font-size: 22px;
	font-family: Avenir-Book;
	letter-spacing: 0.2px;
	opacity: 0.8;
	text-align: right;
	margin-top: 24px;
}
.intro .introWordEng{
	line-height: 14px;
	font-size: 14px;
	opacity: 0.75;
	text-align: left;
	letter-spacing: 0.15px;
	margin-top: 16px;
}

/*右侧内容块*/
.rightCenCon{
	width: 768px;
	/*height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;*/
	position: absolute;
	z-index: 3;
	left: 424px;
	top: 100%;
	transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
	-ms-transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
}
/*作品块盒子*/
.worksCon{
	
}
/*COMPLETED WORKS*/
/*作品块*/
.workTag{
	margin-top: 48px;
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.15);
}
/*作品块banner图*/
.workBanImg{
	height: 288px;
    background: url(../img/imgWorkPH@2x.jpg);
	background-size: cover;
}
.imgWorkZhixing{
    background: url(../img/imgWorkZhixing@2x.jpg);
    background-size: cover;
}
.imgWorkGenesis{
    background: url(../img/imgWorkGenesis@1x.jpg);
    background-size: cover;
}

/*banner上的内容*/
.workBanCen{
	width: 100%;
	height: 288px;
	background-image: linear-gradient(-180deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.20) 24%, rgba(0,0,0,0.65) 100%);
	position: absolute;
	left: 0;
	top: 0;
}
/*作品logo*/
.workLogo{
	width: 73px;
	height: 32px;
	position: absolute;
	left: 40px;
	top: 216px;
}
/*浏览网站*/
.toWork{
	width: 72px;
	height: 24px;
	/*background-color: red;*/
	position: absolute;
	right: 40px;
	top: 230px;
	font-size: 12px;
	line-height: 24px;
	/*cursor: pointer;*/
}
.toWorkSvg{
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 0;
	top: 0;
}
.workDescCon{
	background-color: white;
	padding: 24px 40px 64px 40px;
}
.signTag{
	display: inline-block;
	width: auto;
	padding: 0 20px;
	height: 40px;
	border-width: 2px;
	border-style: solid;
	border-image-source: linear-gradient(291deg, #c6b6ff, #569dff);
	border-image-slice: 1;	
	float: left;
	margin-left: 16px; 
	margin-top: 16px;
	font-size: 12px;
	font-weight: 500;
	color: black;
	-webkit-text-stroke: 0.2px #000000;
	letter-spacing: 1.6px;
	text-align: center;
	line-height: 40px;
}
.signTag:first-child{
	margin-left: 0; 
}
.workDesc{
	width: 512px;
	float: left;
	margin-top: 40px;
	font-size: 13px;
	letter-spacing: 0.1px;
	color: #000000;
	opacity: 0.5;
	line-height: 23px;
}

/*通用*/

.titleContainer{
	height: 20px;
	margin-top: 64px;
	font-size: 20px;
	font-family: Montserrat;
	font-weight: Bold;
	line-height: 20px;
}
.titleContainerFirst{
	margin-top: 0px;	
}

/*团队块盒子*/
.teamCon{
}

.teamTag{
	width: 768px;
	background-color: white;
	margin-top: 48px;
	padding: 24px 0 64px 0;
	box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.15);

}
.teamMemTag{
	width: 50%;
	min-height: 138px;
	padding: 0 40px;
	/*background-color: green;*/
	float: left;
	margin-top: 40px;
}
.teamMemHead{
	padding-left: 84px;
	position: relative;
}
.teamMemHeadImg{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
}
.teamMemDesc{
	height: 64px;
	/*background-color: red;*/
	padding-top: 4px;
}
.teamMemName{
	font-family: Avenir, 'PingFang SC', 'Microsoft YaHei', sans-serif;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: 600;
	color: black;
}
.borderBott{
	width: 20px;
	height: 2px;
	background: -webkit-linear-gradient(270deg, #C6B6FF 0%, #569DFF 100%);
	background: -o-linear-gradient(270deg, #C6B6FF 0%, #569DFF 100%);
	background: -moz-linear-gradient(270deg, #C6B6FF 0%, #569DFF 100%);
	background: linear-gradient(270deg, #C6B6FF 0%, #569DFF 100%);
	margin-top: 6px;
}
.teamMemJob{
	height: 22px;
	margin-top: 6px;
	font-size: 12px;
	/*-webkit-text-stroke: 0.2px #000000;*/
	/*text-shadow: 0px 0px 0.1px rgba(0,0,0,1);*/
	letter-spacing: 0.2px;
	color: black;
	opacity: 0.8;
	line-height: 22px;
}
.teamMemWord{
	margin-top: 24px;
	font-size: 13px;
	letter-spacing: -0.2px;
	color: black;
	opacity: 0.5;
	line-height: 25px;
}
.serviceCon{
	margin-top: 64px;
}
.fuwu{
	width: 42px;
	height: 28px;
	position: absolute;
	left: 40px;
	top: 152px;
	font-size: 20px;
	font-family: Avenir, 'PingFang SC', 'Microsoft YaHei', sans-serif;
	font-weight: 700;	
	letter-spacing: 1px;
}
.fuwuWord{
	width: 560px;
	/*background-color: red;*/
	position: absolute;
	left: 40px;
	top: 204px;
	font-size: 13px;
	letter-spacing: 0.1px;
	opacity: 0.8;
	line-height: 23px;
}
.speed{
	width: 50%; 
	/*background-color: red;*/
	float: left;
	padding: 0 40px;
}
.speedTitle{
	height: 28px;
	/*background-color: green;*/
	font-size: 20px;
	font-family: Avenir, 'PingFang SC', 'Microsoft YaHei', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	color: black;
}
.serviceDescCon{
	padding: 40px 0 64px 0;
}
.speedWord{
	margin-top: 24px;
	font-size: 13px;
	letter-spacing: 0.1px;
	color: black;
	opacity: 0.5;
	line-height: 23px;
}
.money{
	width: 50%; 
	/*background-color: red;*/
	float: left;
	padding: 0 80px 0 0;
}
